<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.body %></td>
        <td><%= tags_for(message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

